/* SCSS Variables */
$base-line-height: 1.6;
$base-font-size: 1.1rem;
$vertical-rhythm: $base-line-height * $base-font-size;

$body-font: "Open Sans", sans-serif;
$header-font: "Proza Libre", sans-serif;
// $header-font: "Overpass", sans-serif;

// $header-color: #363636;
// $body-color: #3f3f3f;
$header-color: #eeeeee;
$body-color: #ebebeb;

$button-color: #eeeeee;

// $background-color: background: linear-gradient(45deg, rgba(47,50,56,1) 0%, rgba(0,0,0,1) 100%);
$background-color: rgba(47, 50, 56, 1);
// $background-color: rgba(49, 36, 174, 1);
