@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.outer-wrapper {
  min-height: 50vh;
  padding-top: $vertical-rhythm * 2;
  padding-bottom: $vertical-rhythm * 2;
  background: rgba(255, 255, 255, 1);
  @include angle(before, true);
}

.inner-wrapper {
}

.title {
  color: #363636;
}

.text {
  margin-bottom: $vertical-rhythm;
  color: #3f3f3f;
}

.row {
  background-color: rgba(47, 50, 56, 0.85);
}

.image {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
  // box-shadow: 3px 3px 1px rgb(0, 0, 0);
  // -webkit-box-shadow: 3px 3px 1px rgb(0, 0, 0);
  // -moz-box-shadow: 3px 3px 1px rgb(0, 0, 0);
}

.rightColumn {
  @media (max-width: 991px) {
    order: 2;
    padding-left: $vertical-rhythm * 2;
    padding-right: $vertical-rhythm * 2;
  }
  @media (max-width: 767px) {
    order: 2;
    padding-left: $vertical-rhythm;
    padding-right: $vertical-rhythm;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-left: 1px solid rgba(51, 67, 100, 0.2);
  padding-left: $vertical-rhythm * 2;
}

.leftColumn {
  @media (max-width: 991px) {
    text-align: center;
    order: 1;
    margin-bottom: $vertical-rhythm * 2;
    padding-right: 0;
    padding-left: 0;
  }
  @media (max-width: 767px) {
    margin-bottom: $vertical-rhythm;
  }
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: $vertical-rhythm * 2;
}
