@import "../../styles/variables.scss";

.background-image {
  position: relative;
  background: url("../../images/wrapped-hands-retro.jpg") no-repeat;
  background-position: right 0px bottom 0px;
  // opacity: 0.2;
  background-size: cover;
  background-attachment: fixed;
  @media (max-width: 900px) {
    background-position: right -130px bottom 0px;
  }
  @media (max-width: 750px) {
    background-position: right -180px bottom 0px;
  }
  @media (max-width: 568px) {
    background-attachment: scroll;
    background-position: right 0 bottom 0px;
  }
  @media (max-width: 500px) {
    background-position: right -90px bottom 0px;
  }
  @media (max-width: 380px) {
    background-position: right -150px bottom 0px;
  }
  @media (max-width: 310px) {
    background-position: right -200px bottom 0px;
  }
}

.outer-wrapper {
  min-height: 50vh;
  padding-top: $vertical-rhythm * 2;
  padding-bottom: $vertical-rhythm * 2;
  position: relative;
  // background-color: rgba(47, 50, 56, 0.85);
  // background: linear-gradient(
  //   45deg,
  //   rgba(47, 50, 56, 1) 0%,
  //   rgba(0, 0, 0, 0.2) 100%
  // );
}

.inner-wrapper {
  text-align: center;
}

.title {
  margin-bottom: $vertical-rhythm;
  color: rgba(255, 255, 255, 0.9);
}

.text {
  margin-bottom: $vertical-rhythm;
  color: rgba(255, 255, 255, 0.85);
}

.image {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
  // transform: rotate(3deg);
  // margin: $vertical-rhythm;
  // margin-top: 0;
}

.button {
  background: transparent;
  font-size: 1.1rem;
  border: 2px solid $button-color;
  color: $button-color;
  text-decoration: none;
  // height: $vertical-rhythm * 2 - 0.5rem;
  padding: 5px 20px;
  //padding: 5px 15px;
  border-radius: 0.5rem;
  // border-radius: 500px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  transition: all 0.4s ease-in;
  box-shadow: inset 0px 0px 0px $button-color;
  font-weight: bold;
  // text-transform: uppercase;
  // background-color: $button-color;
  a {
    color: $button-color;
    text-decoration: none;
    // color: rgba(47, 50, 56, 1);
  }
  &:hover {
    background-color: $button-color;
    border: 2px solid $button-color;
    color: rgba(47, 50, 56, 1);
    box-shadow: inset 0px 0px 150px $button-color;
    a {
      color: rgba(47, 50, 56, 1);
      text-decoration: none;
    }
  }
  &:focus {
    outline: none !important;
  }
  @media (max-width: 767px) {
    width: 100%;
  }
}

// .map {
//   width: 100%;
//   min-height: 300px;
//   // &:after {
//   //   background: linear-gradient(
//   //     45deg,
//   //     rgba(47, 50, 56, 0.8) 0%,
//   //     rgba(0, 0, 0, 0.8) 100%
//   //   );
//   // }
// }

// .leftColumn {
//   @media (max-width: 991px) {
//     order: 2;
//     padding-left: $vertical-rhythm * 2;
//     padding-right: $vertical-rhythm * 2;
//     border-left: 1px solid rgba(255, 255, 255, 0.2);
//     border-right: none;
//   }
//   @media (max-width: 767px) {
//     order: 2;
//     padding-left: $vertical-rhythm;
//     padding-right: $vertical-rhythm;
//   }
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   border-right: 1px solid rgba(255, 255, 255, 0.2);
//   padding-right: $vertical-rhythm * 2;
// }

// .rightColumn {
//   @media (max-width: 991px) {
//     text-align: center;
//     order: 1;
//     margin-bottom: $vertical-rhythm * 2;
//     padding-right: 0;
//     padding-left: 0;
//   }
//   @media (max-width: 767px) {
//     margin-bottom: $vertical-rhythm;
//   }
//   text-align: right;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   padding-left: $vertical-rhythm * 2;
// }

.overLay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // mix-blend-mode: overlay;
  background: linear-gradient(
    45deg,
    rgba(47, 50, 56, 1) 0%,
    rgba(0, 0, 0, 0.2) 100%
  );
}

.noise {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../images/noisy2.png");
  opacity: 0.1;
}
