@import "../../styles/variables.scss";

.background-image {
  position: relative;
  background: url("../../images/fight-corner-retro.jpg") no-repeat;
  background-position: right 0px;
  // opacity: 0.2;
  background-size: cover;
  background-attachment: fixed;
  @media (max-width: 1500px) {
    background-position: right 0px;
  }
  @media (max-width: 1400px) {
    background-position: right 0px;
  }
  @media (max-width: 1300px) {
    background-position: right 0px bottom 0px;
  }
  @media (max-width: 1230px) {
    background-position: right 0px bottom 0px;
  }
  @media (max-width: 1000px) {
    background-position: right -50px bottom 0px;
  }
  @media (max-width: 900px) {
    background-position: right -150px bottom 0px;
  }
  @media (max-width: 780px) {
    background-position: right -240px bottom 0px;
  }
  @media (max-width: 767px) {
    background-position: right -240px bottom 0px;
  }
  @media (max-width: 700px) {
    background-position: right -270px bottom 0px;
  }
  @media (max-width: 620px) {
    background-position: right -320px bottom 0px;
  }
  @media (max-width: 568px) {
    // background-attachment: scroll;
    background-position: right -300px bottom 0px;
  }
  @media (max-width: 450px) {
    background-position: right -350px bottom 0px;
  }
  @media (max-width: 370px) {
    background-position: right -390px bottom 0px;
  }
  @media (max-width: 290px) {
    background-position: right -430px bottom 0px;
  }
}

.outer-wrapper {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //text-align: center;
  // background-color: rgba(47, 50, 56, 0.85);

  // background: linear-gradient(
  //   45deg,
  //   rgba(47, 50, 56, 1) 0%,
  //   rgba(0, 0, 0, 0.2) 100%
  // );

  // background: linear-gradient(
  //   45deg,
  //   rgba(0, 0, 0, 1) 0%,
  //   rgba(0, 0, 0, 0.2) 100%
  // );
}

.row {
  display: flex;
  align-items: center;
  // text-align: center;
}

.inner-wrapper {
}

.title {
  font-size: 5rem;
  text-align: center;
  margin: 0;
  // font-weight: bold;
  color: #ffff;
  // opacity: 0.8;
  font-family: $banner-font;
}

.subTitle {
  font-size: 2rem;
  margin-bottom: 0;
}

.text {
  font-size: 1.25rem;
  margin-bottom: $vertical-rhythm * 2;
  // color: #666666;
}

.rightColumn {
  // @media (max-width: 767px) {
  //   order: 2;
  // }
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.leftColumn {
  // @media (max-width: 767px) {
  //   text-align: center;
  //   order: 1;
  //   svg {
  //     margin-bottom: $vertical-rhythm * 2;
  //   }
  // }
  text-align: right;
  //align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  svg {
    width: 80%;
    opacity: 0.8;
  }
}

.overLay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // mix-blend-mode: overlay;
  background: linear-gradient(
    45deg,
    rgba(47, 50, 56, 1) 0%,
    rgba(0, 0, 0, 0.2) 100%
  );
}

.noise {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../images/noisy2.png");
  opacity: 0.1;
}

/* Responsive styles */
@media screen and (max-width: 1199px) {
  .title {
    font-size: 3.2rem;
  }
}

@media screen and (max-width: 991px) {
  .title {
    font-size: 2.4rem;
  }
}

@media (max-width: 767px) {
  .inner-wrapper {
    padding-top: $vertical-rhythm * 3;
    padding-bottom: $vertical-rhythm * 3;
    text-align: center;
    // transform: skew(0deg, 2deg);
  }
  .rightColumn {
    @media (max-width: 767px) {
      order: 2;
    }
  }
  .leftColumn {
    @media (max-width: 767px) {
      text-align: center;
      order: 1;
      svg {
        margin-bottom: $vertical-rhythm * 2;
      }
    }
  }
}

@media screen and (max-width: 1199px) {
  .title {
    font-size: 5rem;
  }
}

@media screen and (max-width: 991px) {
  .title {
    font-size: 4.1rem;
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 3rem;
  }
}

@media screen and (max-width: 575px) {
  .title {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 300px) {
  .title {
    font-size: 2rem;
  }
}

@media screen and (max-width: 250px) {
  .title {
    font-size: 1.8rem;
  }
}

// @media screen and (max-width: 371px) {
//   .title {
//     font-size: 1.7rem;
//   }
// }
