@import "../../styles/variables.scss";

.background-image {
  background: url("../../images/training-clinch-retro.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.outer-wrapper {
  min-height: 50vh;
  padding-top: $vertical-rhythm * 2;
  padding-bottom: $vertical-rhythm * 2;
  position: relative;
  background-color: rgba(47, 50, 56, 0.85);
  background: linear-gradient(
    45deg,
    rgba(47, 50, 56, 1) 0%,
    rgba(0, 0, 0, 0.2) 100%
  );
}

.inner-wrapper {
}

.title {
  margin-bottom: $vertical-rhythm;
  color: rgba(255, 255, 255, 0.959);
}

.text {
  margin-bottom: $vertical-rhythm;
  color: rgba(255, 255, 255, 0.911);
}

.image {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
  // transform: rotate(3deg);
  // margin: $vertical-rhythm;
  // margin-top: 0;
}

.leftColumn {
  @media (max-width: 991px) {
    order: 2;
    padding-left: $vertical-rhythm * 2;
    padding-right: $vertical-rhythm * 2;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    border-right: none;
  }
  @media (max-width: 767px) {
    order: 2;
    padding-left: $vertical-rhythm;
    padding-right: $vertical-rhythm;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  padding-right: $vertical-rhythm * 2;
}

.rightColumn {
  @media (max-width: 991px) {
    text-align: center;
    order: 1;
    margin-bottom: $vertical-rhythm * 2;
    padding-right: 0;
    padding-left: 0;
  }
  @media (max-width: 767px) {
    margin-bottom: $vertical-rhythm;
  }
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: $vertical-rhythm * 2;
}
