@import "../../styles/variables.scss";

.outer-wrapper {
  min-height: 50vh;
  padding-top: $vertical-rhythm * 2;
  padding-bottom: $vertical-rhythm * 2;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  position: relative;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  background-color: rgba(47, 50, 56, 0.025);
  // @include angle(after, true);

  background: linear-gradient(
    45deg,
    rgba(47, 50, 56, 0.8) 0%,
    rgba(0, 0, 0, 0.8) 100%
  );

  // box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);

  // &:before {
  //   content: ""; // ::before and ::after both require content
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   background: url("../../images/ring.jpg") no-repeat;
  //   opacity: 0.2;
  //   background-size: cover;

  //   // background-attachment: fixed;
  //   // overflow: hidden;
  // }
}

.inner-wrapper {
  // transform: skew(0deg, 2deg);
}

.title {
  margin-bottom: $vertical-rhythm;
  // color: #363636;
  color: rgba(255, 255, 255, 0.959);
}

.text {
  margin-bottom: $vertical-rhythm;
  // color: #3f3f3f;
  color: rgba(255, 255, 255, 0.911);
}

.image {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
  // transform: rotate(3deg);
  // margin: $vertical-rhythm;
  // margin-top: 0;
}

.leftColumn {
  @media (max-width: 991px) {
    order: 2;
    padding-left: $vertical-rhythm * 2;
    padding-right: $vertical-rhythm * 2;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    border-right: none;
  }
  @media (max-width: 767px) {
    order: 2;
    padding-left: $vertical-rhythm;
    padding-right: $vertical-rhythm;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  padding-right: $vertical-rhythm * 2;
}

.rightColumn {
  @media (max-width: 991px) {
    text-align: center;
    order: 1;
    margin-bottom: $vertical-rhythm * 2;
    padding-right: 0;
    padding-left: 0;
  }
  text-align: right;
  //align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // padding: 0;
  padding-left: $vertical-rhythm * 2;
}
